.dropdownContainer {
    position: relative;
    display: inline-block;
}

.dropdown {
    width: 200px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    background-color: #fff;
    position: relative;
    cursor: pointer;
}

.dropdown:hover {
    color:#4359CA;
}

.dropdown:focus {
    border-color: #4359CA;
    color:#4359CA;

}

.dropdown option {
    color: #000; /* Default color for options */
}

.dropdown option[value="Actions"] {
    color: #999; /* Color for the "Actions" option */
}

.dropdown option:checked {
    background-color: #f0f0f0;
}

.icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 12px;
    width: 15px;
    height: 10px;
}

.selectedIcon {
    color: #4359CA;
}

.dropdown-container select option:hover,
.dropdown-container select option:focus {
    color: #4359CA;
}
