.sidebar {
    width: 80px;
    height: 100vh;
    background-color:#F7FAFC;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    position: sticky;
    border-right: #E6E8EB 3px solid;
    top: 0;
}

.iconContainer {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeContainer{
    width: 60%;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(120, 182, 255, 0.2);
    border-radius: 10px;
}

.icon {
    fill: #fff;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: fill 0.3s;
}
.logo {
    fill: #fff;
    width: 55px;
    height: 55px;
    cursor: pointer;
    transition: fill 0.3s;
    padding-right: 10px;
}

.icon:hover {
    fill: #1e90ff;
}
