.imageColumn {
    width: 75px;
    height: 45px;
}

.dataImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 5px;
    align-self: center;
    position: relative;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.4);
}

.Icon {
    width: 25px;
    height: 25px;
}

.actionIcons {
    color: var(--darkBlue);
}

.actionIconsRefresh {
    color: var(--green);
}

.tableContainer {
    border-radius: 10px;
    min-height: 720px;
    max-height: 720px;
    overflow-y: auto;
}

/*width*/
.tableContainer::-webkit-scrollbar {
    width: 13px;
    background-color: #babcc4;
}

/*Handle */
.tableContainer::-webkit-scrollbar-thumb {
    background: var(--gray);
    border-radius: 16px;
}

/* Handle on hover */
.tableContainer::-webkit-scrollbar-thumb:hover {
    background: #73737d;
    border-radius: 16px;
}

@media screen and (max-width: 719px) {
    .tableContainer {
        max-height: 680px;
    }
}

.paginationContainer  {
    position:absolute;
    left: 50%;
    transform: translate(-50%, 0);
}
.headerCont{
    display: flex;
    gap: 15px;
    flex-direction: row;
}
.headerButton {
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: normal;
    border-radius: 10px;
    background-color: #50819d;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.4);
}

